<p id="notice"><%= notice %></p>


<ul>
  <% @categories.each do |category| %>
    <li>
      <% if category.root? %>
        <strong><%= category.title %></strong>
      <% else %>
        <%= category.title %>
      <% end %>
    </li>
  <% end %>
</ul>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
