<p id="notice"><%= notice %></p>

<ul>
  <% @categories.each do |category| %>
    <li>
      <%= category %>
      <%= category.title %>
      <hr />
    </li>
  <% end %>
</ul>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
